.form {
  width: 30vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  background-color: #57eb21;
  box-shadow: 0px 0px 12px 9px rgba(51, 176, 53, 1);
  color: #22640b;
}

.label {
  font-size: 28px;
}

.input {
  font-size: 24px;
  width: 28vw;
  padding-left: 10px;
  outline: none;
  border: none;
  height: 6vh;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 2px #22640b;
}

.error {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: red;
}

.button {
  width: 10vw;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 24px;
  box-shadow: 0px 0px 5px 2px #22640b;
  color: #22640b;
}

.button:hover {
  background-color: #22640b;
  color: aliceblue;
}
