.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.text {
  padding-top: 40px;
  font-size: 60px;
  font-weight: 800;
}

.goHome {
  color: rgb(189, 20, 20);
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: rgb(193, 190, 190);
  border: 1 px solid gray;
  border-radius: 8px;
  width: 140px;
  height: 40px;
  padding: 10px;
}

.goHome:hover,
.goHome:focus {
  color: rgb(193, 190, 190);
  background-color: rgb(189, 20, 20);
}

.button {
  text-decoration: none;
  color: rgb(189, 20, 20);
}

.button:hover,
.button:focus {
  color: rgb(193, 190, 190);
}
